<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="EVS_LOG_PATTERN" value="%clr(%d{HH:mm:ss.SSS}) %clr(%-5p) %clr([%t]){faint} #%X{correlation-id}# %clr(%logger{39}){cyan} %clr(-){faint} %m%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${EVS_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.bandwidth" level="DEBUG"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>